<div class="container">

  <div class="row">

    <div class="col-md-offset-1 col-md-10">

      <h1>Add a New Photo</h1>

    </div>
  </div>

<div class="row">

  <div class="col-md-offset-1 col-md-10">

    <form action="http://localhost:3000/update_photo/<%= @id %>">
      <div>
        <label for="caption">Caption:</label>
        <input name="caption" id="caption" type="text" value="<%= @desc %>">
      </div>

      <div>
        <label for="url">Image URL:</label>
        <input name="url" id="url" type="text" value="<%= @img_src %>">
      </div>

      <div>
        <button>Update Photo</button>
      </div>
    </form>

  </div>

</div>
</div>
